@import url(https://fonts.googleapis.com/css?family=Lora);
body {
    font-family: 'Lora', serif;
    max-width: 100%;
}

body.main-layout,
body.capture-layout {
    background: url("/images/bg-shadow.png") center repeat-y;
    min-height: 100vh;
}


#bg-shadow-top,
#bg-shadow-bottom {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

#bg-shadow-top {
    background: url("/images/bg-shadow-top.png") center no-repeat;
    top: 0;
    height: 287px;
}

#bg-shadow-bottom {
    background: url("/images/bg-shadow-bottom.png") center no-repeat;
    height: 130px;
    bottom: 0;
}

header img {
    display: inline-block;
}

header .right {
    float: right;
    margin-top: 50px;
    margin-right: 37px;
}

header .right > * {
    height: 23px;
}

header .right > div:last-child > a:first-child {
    margin-left: 85px;
}

header .right [type=submit] {
    background-color: transparent;
    border: none;
}

header .right input {
    border: #dadada 1px solid;
    background: url(/images/login-arrow.jpg) 5px 5px no-repeat;
    color: #4c4c4c;
    padding-left: 20px;
    height: 22px;
    width: 100px;
    margin-right: 10px;
}

header a {
    font-size: 13px;
    color: #cacaca;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 10px;
}
header{
    margin-top: 2%;
}
.navbar-default {
    border: none;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    width: 120px;
    line-height: 27px;
    display: block;
    cursor: pointer;
    color: #ffffff;
    float: left;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0;
    margin-right: 3px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7cd8+-1,c656ff+0,c05bff+50,d17bfc+51,dec4ff+100,fcecfc+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7cd8+-1,b656ff+0,ab5afc+50,b97bfc+51,dec4ff+100,f2eaf9+100 */
    background: rgb(255,124,216); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,124,216,1) -1%, rgba(182,86,255,1) 0%, rgba(171,90,252,1) 50%, rgba(185,123,252,1) 51%, rgba(222,196,255,1) 100%, rgba(242,234,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,124,216,1) -1%,rgba(182,86,255,1) 0%,rgba(171,90,252,1) 50%,rgba(185,123,252,1) 51%,rgba(222,196,255,1) 100%,rgba(242,234,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,124,216,1) -1%,rgba(182,86,255,1) 0%,rgba(171,90,252,1) 50%,rgba(185,123,252,1) 51%,rgba(222,196,255,1) 100%,rgba(242,234,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7cd8', endColorstr='#f2eaf9',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

.navbar-nav.nav{
z-index: 2;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b8e1fc+0,a9d2f3+10,90bae4+25,90bcea+37,90bff0+50,6ba8e5+51,a2daf5+83,bdf3fd+100;Blue+Gloss+%231 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcecfc+0,fba6e1+50,fd89d7+51,ff7cd8+100;Pink+Gloss+%232 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e570e7+0,c85ec7+47,a849a3+100;Pink+3D+%233 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb83fa+0,e93cec+100;Pink+3D+%232 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7efff+0,d0adff+50,c98cff+51,bb7cff+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6efff+0,dba9fc+50,c98cff+51,d57cff+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aa97c4+0,a178bc+50,a178bc+50,8a58a3+51,a36dd6+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d17cff+0,bd7cff+0,b88cff+49,cba7f9+50,d6a9fc+50,c9a7f9+50,f9efff+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d17cff+0,bd7cff+0,b88cff+49,cba7f9+50,d6a9fc+50,c9a7f9+50,e2b5ff+100 */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d17cff', endColorstr='#e2b5ff',GradientType=0 ); /* IE6-9 */
background-color: transparent;
}

.navbar-default .navbar-nav > .active > a {
    color:rgba(255,255,255,0.6);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb60b3+0,c146a1+50,a80077+51,db36a4+100;Pink+Gloss */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb60b3+0,ad1283+50,de47ac+100;Pink+3D */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb60b3+0,ad1283+50,de47ac+100;Pink+3D */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9863ce+0,9947c1+50,c146a1+50,7b00a8+51,c836d8+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9863ce+0,9947c1+50,9b47c1+50,c146a1+51,c146a1+51,c146a1+51,8f46bf+51,7b00a8+52,c836d8+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8c5fc6+0,8f46bf+50,6e00a5+51,8c36d8+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9936db+0,9236d8+0,8e36db+0,6c00a3+49,8247c1+50,9561cc+100,cb60b3+100 */
    background: rgb(153,54,219); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(153,54,219,1) 0%, rgba(146,54,216,1) 0%, rgba(142,54,219,1) 0%, rgba(108,0,163,1) 49%, rgba(130,71,193,1) 50%, rgba(149,97,204,1) 100%, rgba(203,96,179,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(153,54,219,1) 0%,rgba(146,54,216,1) 0%,rgba(142,54,219,1) 0%,rgba(108,0,163,1) 49%,rgba(130,71,193,1) 50%,rgba(149,97,204,1) 100%,rgba(203,96,179,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(153,54,219,1) 0%,rgba(146,54,216,1) 0%,rgba(142,54,219,1) 0%,rgba(108,0,163,1) 49%,rgba(130,71,193,1) 50%,rgba(149,97,204,1) 100%,rgba(203,96,179,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9936db', endColorstr='#cb60b3',GradientType=0 ); /* IE6-9 */

}
.navbar-default .navbar-nav > .active > a:hover{
   color: rgba(213,124,255,1);
}

.navbar-default .navbar-nav > li > a:hover {
  color: rgba(153,71,193,1);
}

.panel.panel-default {
    border: none;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
.user-view.table-block{
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
input, textarea, select{
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75) !important;
}
.panel-heading {
    border-radius: 4px 4px 0 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
    background: rgb(59,103,158); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    text-align: center;
}

.panel-body {
    padding: 6px;
    background-color: #fafafa;
}

.panel-body > .article-content {
    border: 1px #FF6B06  solid;
    border-radius: 4px;
    padding: 6px;
    background-color: white;
}

.panel-footer {
    border-radius: 0 0 4px 4px;
    height: 8px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
    background: rgb(59,103,158); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: grey;
}

.panel-body,
.panel-footer {
}

.panel-group .panel + .panel {
    margin-top: 0;
}

.home-index .panel-heading {
    text-transform: uppercase;
    font-size: 18px;
}

.user-view {
    width: 100%;
    background-color: #e1e1e1;
    border: 1px #CCC solid;
}

.user-view > div:first-child {
    text-align: center;
}

.user-view {
    border-radius: 4px;
}

.user-view div {
    border-radius: 4px;
}

.user-view > div:first-child > div {
    padding: 10px 15px;
}

.user-view > div:first-child > div > div {
    display: inline-block;
    background-color: white;
    padding: 1px 60px;
    border: 1px #CCC solid;
    font-weight: bold;
}

.user-view > div > div:first-child {
    width: 60%;
}

.user-view > div > div:last-child {
    width: 40%;
}

.user-view > div:last-child > div {
    height: 20px;
}

.attributes {
    border: 1px #CCC solid;
    background-color: white;
    padding: 30px 60px;
}

.attributes tr {
    background-color: transparent !important;
    font-size: 13px;
}

.attributes tr > * {
    border: none !important;
    background-color: transparent;
    padding: 2px !important;
}

.attributes td > div {
    border: 1px #CCC solid;
    border-radius: 4px;
    line-height: 16px;
    min-height: 16px;
    padding: 0 6px;
}

.attributes table {
    border: none;
}

.huylo {
    background: url("/images/huylo.png") right no-repeat;
}

#cabinet #menu dt {
    font-size: 14px;
    padding-bottom: 6px;
    padding-top: 6px;
    cursor: pointer;
    padding-left: 6px;
    color: #0083fd;
}

#cabinet #menu dt:hover{
    text-decoration: underline;
}

#user-view table,
#user-view th {
    border: none;
}

#user-view th,
#user-view td {
    padding: 2px 4px;
}

.float-menu {
    position: absolute;
    display: none;
    z-index: 1;
    background-color: white;
    padding: 8px;
    border-radius: 4px;
    border: 1px #CCC solid;
}

.float-menu a {
    display: block;
}

.float-menu.active {
    display: block;
}

figure {
    text-align: center;
}

figure > img {
    max-width: 768px;
}

[data-id] {
    cursor: pointer;
}

[data-id]:hover {
    background-color: lightgrey;
}

#category_title {
    font-weight: bold;
}

.list-layout .split {
    height: 9px;
    background: url("/images/post-border.png") repeat-x;
}

.article-post {
    display: inline-block;
    text-align: center;
}

.article-post > figure {
}

.article-post > figure {
    min-width: 204px;
    text-align: center;
}

.article-index .price {
    width: 100px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,7db9e8+100 */
    background-color: #8E5393;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
    display: inline-block;
    color: #E8E8EA;
    font-weight: bold;
    border: none;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

.button:hover {
    color: #8E5393;
    text-decoration: none;
    background-color: #BD94B2;
}

.article-top .lists ul {
    display: table-row;
}

.article-top .lists li {
    display: table-cell;
    list-style: none;
    width: 10%;
    text-align: center;
}

a.article-product {
    margin: 8px;
    padding: 8px;
    min-height: 200px;
    display: block;
    border-radius: 4px;
    border: 1px #FF6B06 solid;
    color: black;
}

.categories a {
    display: block;
}

a.article-top:hover {
    text-decoration: none;
}

.article-product h3 {
    font-size: 12px;
}

.article-product div {
    font-size: 10px;
    color: #FF6B06;
}

.home-index {
    text-align: center;
}

.home-index > img {
    width: 1072px;
}

.wrap > .container {
    min-height: 730px;
}

footer {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d17cff+0,bd7cff+0,b88cff+49,cba7f9+50,d6a9fc+50,c9a7f9+50,f9efff+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d17cff+0,bd7cff+0,b88cff+49,cba7f9+50,d6a9fc+50,c9a7f9+50,e2b5ff+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7cd8+-1,c656ff+0,c05bff+50,d17bfc+51,dec4ff+100,fcecfc+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7cd8+-1,b656ff+0,ab5afc+50,b97bfc+51,dec4ff+100,f2eaf9+100 */
    background: rgb(255,124,216); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,124,216,1) -1%, rgba(182,86,255,1) 0%, rgba(171,90,252,1) 50%, rgba(185,123,252,1) 51%, rgba(222,196,255,1) 100%, rgba(242,234,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,124,216,1) -1%,rgba(182,86,255,1) 0%,rgba(171,90,252,1) 50%,rgba(185,123,252,1) 51%,rgba(222,196,255,1) 100%,rgba(242,234,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,124,216,1) -1%,rgba(182,86,255,1) 0%,rgba(171,90,252,1) 50%,rgba(185,123,252,1) 51%,rgba(222,196,255,1) 100%,rgba(242,234,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7cd8', endColorstr='#f2eaf9',GradientType=0 ); /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7cd8', endColorstr='#fcecfc',GradientType=0 ); /* IE6-9 */
    width: 100%;
    color: #FFF;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-contact input, .home-contact textarea {
    display: inline-block;
    border-radius: 16px;
}

.home-contact label {
    width: 10%;
    font-weight: normal;
}

.home-contact input {
    width: 60%;
}

.home-contact button {
    border: none;
    background-color: transparent;
}

.home-contact .buttons {
    text-align: right;
}

.home-contact .contact {
    text-align: right;
}

.home-contact .contact label, .home-contact .contact input {
    text-align: left;
}

.home-contact textarea {
    min-height: 300px;
}

.field-feedback-content label {
    display: none;
}

.row-block {
    display: table-row;
}

.row-block > div {
    display: table-cell;
}

.table-block {
    display: table;
}

.table-block > div {
    display: table-row;
}

.table-block > div > div {
    display: table-cell;
}

.home-contact .info strong {
    margin-top: 50px;
    display: block;
    text-align: center;
}

.home-contact .info .table-block {
    margin: 30px 0;
}

.home-contact .info .table-block > div > div {
    padding: 10px;
}

.home-contact .space {
    height: 30px;
}

.menu > .panel-body > .article-content > * {
    color: black;
    display: block;
    padding: 6px 0 6px 14px;
    border-bottom: 1px #FF6B06 dotted;
    background: url("/images/menu-arrow.png") left no-repeat;
}

.menu > .panel-body > .article-content > *:hover {
    text-decoration: none;
    color: #FF6B06;
}

.article-post .price {
    font-weight: bold;
}

#logo {
    display: inline-block;
    background-image: url("images/logo.png");
    width: 201px;
    height: 101px;
    background-size: contain;
    position: absolute;
    z-index: -1;
    top: 0;
    background-repeat: no-repeat;
}

.welcome {
    color: #FF6B06;
}

.nickname {
    text-decoration: none;
    color: #FF6B06;
}

.office {
    text-align: right;
    margin-top: 1%;
}
.office a{
    background: rgb(255,124,216); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,124,216,1) -1%, rgba(182,86,255,1) 0%, rgba(171,90,252,1) 50%, rgba(185,123,252,1) 51%, rgba(222,196,255,1) 100%, rgba(242,234,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,124,216,1) -1%,rgba(182,86,255,1) 0%,rgba(171,90,252,1) 50%,rgba(185,123,252,1) 51%,rgba(222,196,255,1) 100%,rgba(242,234,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,124,216,1) -1%,rgba(182,86,255,1) 0%,rgba(171,90,252,1) 50%,rgba(185,123,252,1) 51%,rgba(222,196,255,1) 100%,rgba(242,234,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7cd8', endColorstr='#f2eaf9',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);

    padding: 1%;
    color: whitesmoke;
    text-decoration: none;
}
.user .office a{
    background: rgb(153,54,219); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(153,54,219,1) 0%, rgba(146,54,216,1) 0%, rgba(142,54,219,1) 0%, rgba(108,0,163,1) 49%, rgba(130,71,193,1) 50%, rgba(149,97,204,1) 100%, rgba(203,96,179,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(153,54,219,1) 0%,rgba(146,54,216,1) 0%,rgba(142,54,219,1) 0%,rgba(108,0,163,1) 49%,rgba(130,71,193,1) 50%,rgba(149,97,204,1) 100%,rgba(203,96,179,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(153,54,219,1) 0%,rgba(146,54,216,1) 0%,rgba(142,54,219,1) 0%,rgba(108,0,163,1) 49%,rgba(130,71,193,1) 50%,rgba(149,97,204,1) 100%,rgba(203,96,179,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9936db', endColorstr='#cb60b3',GradientType=0 ); /* IE6-9 */

}
.right img{
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
.home.index .slide.carousel{
    margin-left: auto;
    margin-right: auto;
    border: solid 6px #FF6B06;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    margin-bottom: 3%;
}
.home.index .carousel-inner > .item > img{
    width: 100%;
}
.home.index .panel{
    margin: 2%;
    width: 29%;
}
@media screen and (max-width: 1200px) {
    .invoice.payment form{
        width: 100% !important;
    }
    .article.top .lists.col-lg-10.panel.panel-default{
        width: 100% !important;
        padding: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .article.top .new.panel{
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
        float: none !important;
        position: relative;
    }
    .article.gallery .col-lg-4.panel{
        width: 100% !important;
        margin-left: 0;
        margin-right: 0;
    }
    .home.index .panel{
        margin: 2%;
        width: 96%
    }
    #news.panel{
        width: 96%;
        margin: 2%;
    }
    #media div{
        width: 96%;
        margin: 2%;
    }
    #money #exchange{
        margin: 0 !important;
    }
    .article-content p{
        max-width: 100%;
    }
    #left-panel{
        float: none !important;
        width: 96% !important;
        margin: 2%;
    }
    .article-top .lists li{
        display: block;
        width: 100%;
    }
    .article-top .lists ul{
        display: block;
        padding: 0;
        width: 100%;
    }
    .article-post > figure{
        min-width: inherit;
    }
    .article-index.row .menu.categories.col-lg-2.panel.panel-default{
        float: none;
        width: 100%;
    }
}
.home.index .panel img{
    display: none;
}
#globus {
    display: inline-block;
    float: left;
    width: 30%;
    margin-left: 2%;
}
#youtube{
    display: inline-block;
    float: left;
    background: transparent;
    width: 30%;
    margin-left: 2%;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
#youtube img{
    width: 100%;
}
#money{
    margin: 2%;
    width: 29%;
    float: left;
    background-color: white;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
#money #value{
    font-weight: bold;
    font-size: 1.5em;
    color: rgba(0,0,0,0.5);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: grey;
}
#null{
    display: none !important;
}
#money #exchange{
    margin-left: 10px;
    margin-right: 10px;
}
#money #exchange td,
#money #exchange tr,
#money #exchange a{
    background: transparent !important;
    color: grey !important;
    font-weight: bold !important;
}

#money h2{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
    background: rgb(59,103,158); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: 0;
    padding: 2%;
    border-bottom: solid #CCCCCC 1px;
    font-size: 1.6em;
    text-transform: uppercase;
}
#logo1{
    height: 100px;
    opacity: 1;
    display: inline-block;
    margin: 1% 2%;
    max-width: 100%;
}
#logo1 img{
    max-height: 100%;
}
#logo1 span{
    opacity: 1;
    font-size: 2em;
    position: absolute;
    display: inline-block;
    margin-left: 1%;
    margin-top: 5%;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: grey;
    color: #FDB801;
    font-family: 'Lora', serif;
}
@media screen and (max-width: 480px) {
    #logo1 span{
        position: inherit;
        font-size: 1em;
    }
    form#login{
        width: 100%;
    }
    header .right > div{
        margin-top: -20px;
    }
    header .right input{

        width: 96%;
        margin: 2%;
    }
    header .right{
        display: inline-block;
        float: none;
        margin: 1%;
    }
    #logo1{
        margin-top: 30px;
        text-align: center;
    }
    .home.index #carousel-example-generic{
        width: 96% !important;
    }
    #bg-shadow-bottom,
    #bg-shadow-top{
        display: none;
    }
    #globus iframe{
        width: 100% !important;
    }

}
#media{
    display: inline-block;
    width: 100%;
}
.home.index .carousel-indicators{
   bottom: -50px;
}
.col-lg-4,
.col-lg-2{
    padding: 0;
}
#money-bottom{
    bottom: 0;
    height: 20px;
    border-top: solid #CCCCCC 1px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
    background: rgb(59,103,158); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#news{
    width: 30%;
    float: left;
    margin-left: 2%;
    background-color: white;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
#news h2{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
    background: rgb(59,103,158); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-top: 0;
    padding: 4%;
    border-bottom: solid #CCCCCC 1px;
    font-size: 1.3em;
    text-transform: uppercase;
}
#news-bottom{
    bottom: 0;
    height: 20px;
    border-top: solid #CCCCCC 1px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
    background: rgb(59,103,158); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
.news-item{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: solid #FF6B06 1px;
}
#news h3{
    font-size: 1em;
    font-weight: bold;
}
#news a{
    color: grey;
}
#news a:hover{
    color: rgba(0,0,0,0.3);
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: grey;
    text-decoration: none;
}
.home.index .carousel-indicators li{
    border-color: grey;
}
.home.index .carousel-indicators .active{
    background-color: grey;
}
#requestform-id{
}
#requestform-email{
}
.user-request form{
    display: inline-block;
    width: 50%;
    margin: 0 25%;
}
#social{
   display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.st_odnoklassniki_large .stLarge{
    background-image: url("images/ok.jpg") !important;
}
#top-date{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 25px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d17cff+0,bd7cff+0,b88cff+49,cba7f9+50,d6a9fc+50,c9a7f9+50,f9efff+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d17cff+0,bd7cff+0,b88cff+49,cba7f9+50,d6a9fc+50,c9a7f9+50,e2b5ff+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7cd8+-1,c656ff+0,c05bff+50,d17bfc+51,dec4ff+100,fcecfc+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7cd8+-1,b656ff+0,ab5afc+50,b97bfc+51,dec4ff+100,f2eaf9+100 */
    background: rgb(255,124,216); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,124,216,1) -1%, rgba(182,86,255,1) 0%, rgba(171,90,252,1) 50%, rgba(185,123,252,1) 51%, rgba(222,196,255,1) 100%, rgba(242,234,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,124,216,1) -1%,rgba(182,86,255,1) 0%,rgba(171,90,252,1) 50%,rgba(185,123,252,1) 51%,rgba(222,196,255,1) 100%,rgba(242,234,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,124,216,1) -1%,rgba(182,86,255,1) 0%,rgba(171,90,252,1) 50%,rgba(185,123,252,1) 51%,rgba(222,196,255,1) 100%,rgba(242,234,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7cd8', endColorstr='#f2eaf9',GradientType=0 ); /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7cd8', endColorstr='#fcecfc',GradientType=0 ); /* IE6-9 */
    color: rgba(255,255,255,0.9);
    font-weight: bold;
    padding-left: 5%;
    padding-top: 3px;
}
#login select{
    margin-right: 10px;
    height: 22px;
}
#login button{
    display: inline-block;
    padding: 0;
}
#login img{
    height: 22px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
.home.index .navbar.navbar-default{
    margin-bottom: 0;
}
.home.index #carousel-example-generic{
    margin-top: -7px;
    z-index: -1;
}
.col-lg-2{
    float: none;
}
#left-panel{
    float:left;
    width: 15%;
}
#left-panel .panel{
    width: 100%;
}
#adv img{
    margin: 5px;
    max-width: 100%;
}
#adv{
    text-align: center;
}
.article-index.row .menu.categories.col-lg-2.panel.panel-default{
    display: inline-block;
    float: left;
}
.article-index.row .list-view#w0{
    float: left;
    width: 100%;
}
.article-index.row .list-view#w0 > div{
    width: 24%;
}
.article-index.row .list-view#w0 .thumbnail{
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
.article-index.row .list-view#w0 .article-post{
    width: 100%;

}
.home.index #adv{
    width: 100%;
}
.home.index #adv img{
    max-width: 10%;
}
.nothing{
    display: none;
}
div{
    max-width: 100%;
}
.article-top img{
    max-height: 100px;
}
.article.index .article-index.row{
    margin-left: 1%;
}
.capture.right{
    float: right;
    display: inline-block;
}
.capture.right a{
    border: solid 1px rgba(182,86,255,1);
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    padding: 5px;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: rgba(182,86,255,1);
    color: rgba(182,86,255,0.4);
}
.capture.right a:hover{
    text-decoration: none;
    background-color: rgba(182,86,255,0.4);
    color: rgba(182,86,255,0.1);
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: white;
}
.capture-layout header{
    text-align: center;
}
.capture-layout header #logo1 span{
    position: relative;
    margin: 0;
}
.capture-layout .wrap>.container{
    margin-top: 2%;
}
.article.top .new.panel{
   margin-left: 2%;
    margin-right: 2%;
    width: 28%;
    float: left;
    position: relative;
}
.article.top .new.panel .article-product{
    height: 200px;
}
.article.top .new.panel img{
    max-height: 100%;
}
.article.gallery .article-content{
    text-align: center;
}
.article.gallery .col-lg-4.panel{
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
}
.control-label a{
    font-size: 1.5em;
}
.article.top .lists.col-lg-10.panel.panel-default{
    width: 94%;
    padding: 0;
    margin-left: 2%;
    margin-right: 2%;
}
.article.top .new.panel .carousel-inner{
    height: 200px;
    text-align: center;
}
.article.top .new.panel .carousel-inner img{
    height: 200px !important;
    margin: auto;
}

.left.carousel-control,
.right.carousel-control{

}
.article.view .article-content{
    margin-top: 2%;
}
.article.top .glyphicon.glyphicon-chevron-right,
.article.top .glyphicon.glyphicon-chevron-left{
    font-size: 10px;
}
.carousel-indicators{
    display: none;
}
#w0.list-view > div{
    display: inline-block;
}
.article.index .pagination{
    display: table;
    margin: 3% auto;
}
.article.index .article-post{
    margin: 5px;
    padding: 1%;
    border-radius: 5px;
    max-width: 210px;

}
.article.index .article-post img{
    height: 150px;
}
.article.index .article-post a{
    color: black;
}
.article.index .article-post .button{
    color: white;
}
.article.index .article-post a:hover{
    text-decoration: none;
}
.pagination{
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
.pagination .active a{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7cd8+-1,b656ff+0,ab5afc+50,b97bfc+51,dec4ff+100,f2eaf9+100 */
    background: rgb(255,124,216); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,124,216,1) -1%, rgba(182,86,255,1) 0%, rgba(171,90,252,1) 50%, rgba(185,123,252,1) 51%, rgba(222,196,255,1) 100%, rgba(242,234,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,124,216,1) -1%,rgba(182,86,255,1) 0%,rgba(171,90,252,1) 50%,rgba(185,123,252,1) 51%,rgba(222,196,255,1) 100%,rgba(242,234,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,124,216,1) -1%,rgba(182,86,255,1) 0%,rgba(171,90,252,1) 50%,rgba(185,123,252,1) 51%,rgba(222,196,255,1) 100%,rgba(242,234,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7cd8', endColorstr='#f2eaf9',GradientType=0 ); /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7cd8', endColorstr='#fcecfc',GradientType=0 ); /* IE6-9 */
    border-color: rgba(222,196,255,1);
}
.pagination li a{
    color: rgba(185,123,252,1);
}
.article.view .article-view figure{
    display: inline-block;
}
.article.view .article-view .article-content
{
    display: inline-block;
    float: left;
    margin: 2%;
}
.article.view .article-view .head{
    display: inline-block;
    float: left;
    margin: 0 2%;
    max-width: 40%;
    text-align: center;
}
.article.view .article-view .head .title{
    text-align: left;
    margin-bottom: 1%;
 }
.article.view .article-view .head img{
    max-width: 100%;
}
.user-login{
    width: 40%;
    margin: auto;
}
.invoice.payment form
{
    width: 40%;
}
.invoice.payment input{
    margin: 10px 0;
}
.btn{
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
